<?xml version="1.0"?>
<launch>
    <arg name="rviz" default="false"  doc="Should Rviz be launched?" />
    <arg name="execution" default="false"  doc="Should trajectories be executed?" />
    <arg name="visualize" default="false"  doc="Should trajectories be visualized?" />
    <arg name="plot" default="false"  doc="Should results be plotted?" />

    <node pkg="panda_motion_planning" type="komo" output="screen" name="komo"  args="$(arg execution) $(arg visualize) $(arg plot)"/>



    <node  pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find panda_gazebo_bringup)/config/model.rviz" if="$(arg rviz)"/>


</launch>